{% extends 'server/master.html' %}

{% block page_content %}
<div class="product">
    <h1 class="product__name">
        {{ object.name }}
    </h1>
    <span class="product__description">
        {{ object.description}}
    </span>
    {% if object.cost %}
    <span class="product__cost">
        {{ object.cost }}
    </span>
    {% endif%}
    <button>Купить</button>
</div>
{% endblock %}