{% extends 'server/master.html' %}

{% block page_content %}
<div class="products">
    {% for object in object_list %}
    <div class="products_item">
        <span class="products__item-name">
            {{ object.name|default:"По умолчанию"|title }}
        </span>
        <span class="products__item-description">
            {{ object.description}}
        </span>
        {% if object.cost %}
        <span class="products__item-cost">
            {{ object.cost }}
        </span>
        {% else %}
        <span class="products__item-cost_empty">
            Значение отсутствует
        {% endif %}
        <a href="{% url 'detail' pk=object.id %}" class="products_item-link">
            Ссылка на {{ object.name|lower }}
        </a>
    </div>
    {% endfor %}
<a href="{% url 'main' %}">На главную</a>
{% endblock %}