{% extends 'server/master.html'%}
{% load static %}

{% block page_title %}
Home
{% endblock %}

{% block page_static %}
<link rel="=stylesheet" href="{% static 'main/style.css' %}">
{% endblock %}

{% block page_content %}
<h1>Главная</h1>
<span class="username"> Привет {{ name }}!</span>
<p>Магазин здорового питания</p>
{% endblock %}