{% load static %}


<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block page_title %}
            {% endblock %}
        </title>

        {% block page_static %}
        {% endblock %}

        <link rel="stylesheet" href="{% static 'server/css/master.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="shop">Магазин</div>
                <ul class="mainMenu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about/">О нас</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>
            </div>
            
                {% block page_content %}
                {% endblock %}
            <hr>
            <div class="footer">&copy;"Все права защищены"</div>
        </div>
    </body>
</html>