body {
    background: #f8f8f8;
}
.container {
    width: 960px;
    margin: auto;
}
.header {
    background: gray;
    height: 150px;
    width: 960px;
    
}
.header img {
    width: 80px;
    margin: 10px 0 0 20px;
}
.shop {
    position: absolute;
    /*top: 50px;
    left: 320px;*/
    margin: -40px 0 0 120px;
    font-size: 20px;
    color: white;
}
.mainMenu { 
    float: right;
    margin-right: 15px;
}
ul li {
    display: inline-block;
    padding: 0 5px;
}
.mainMenu li a {
    color: white;
    font-family: Arial, Verdana,sans-serif;
    font-size: 24px;
    font-style: italic;
    text-decoration: none;
}
.mainMenu li a:hover {
    color: red;
    font-weight: bold;
}
.mainMenu li a:active {
    color: purple;
}
h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}
.imagemarker {
  list-style-image: url('images/pointer.png')
}

img[alt="shoes winter"] {
    color: gray;
    outline: 3px solid;
}
img[alt="shoes winter"]:hover {
    outline: 3px solid transparent;
}
img[alt="shoes for run"] {
    color: gray;
    outline: 3px solid;
}
img[alt="shoes for run"]:hover {
    outline: 3px solid transparent;
}
.first {
    color: #707070;
    font-style: italic;
    line-height: 24px;
    font-size: 14px;
}
.second {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.first:first-letter,
.second:first-letter {
    color: blue;
    font-size: 30px;
}
.characteristics {
    font-family: Arial, Verdana,sans-serif;
    font-size: 18px;
    font-style: normal;
    color: #006363;
}
input[type] {
    width: 35%;
    height: 30px;
}
input[type="submit"] {
    width: 80px;
    height: 20px;
}
input[placeholder="Введите ваше имя"] {
    font-family: Arial, Verdana,sans-serif;
    font-size: 18px;
    text-transform: capitalize;
}
input[placeholder="Введите ваш электронный адрес"] {
    font-family: Arial, Verdana,sans-serif;
    font-size: 18px;
    text-transform: capitalize;
}
input[placeholder="Введите ваш электронный адрес"]:focus {
    color: white;
    background: gray;
}
input[placeholder="Тема сообщения"] {
    font-family: Arial, Verdana,sans-serif;
    font-size: 18px;
    text-transform: capitalize;
}
table {
    border-collapse: collapse;
}
td,th {
    border: 1px solid black;
}
.product {
     margin-bottom: 15px;
}
.product:after {
    clear: both;
    display: block;
    content: '';
}
.shoes {
    float: left;
}
.shoes a {
    display: block;
}
.shortDescription {
    float: right;
    width: 80%;
}
.buy {
    float: right;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px; 
    color: white;
    background: grey;
}
.buy:hover {
    color: red;
}
.buy:active {
    color: purple;
}
.catalog:after {
    width: 960px;
    margin: 20px auto 0 auto;
    background: gray;
    overflow: hidden;
    display: block;
    clear: both;
    content: '';
}
.productUnit {
    float: left;
    width: 22%;
    height: 260px;
    margin-right: 4%;
    margin-top: 20px;
    outline: 1px solid #ccc;
}
.productUnit:nth-child(4n) {
    margin-right: 0;
}
.productUnit:nth-child(-n+4) {
    margin-top: 0;
}
.catalogImg {
    width: 100%;
    height: 200px;
    display: block;
}
.footer {
    background: gray;
    height: 100px;
    text-align: right;
    font-weight: bold;
    padding: 10px 20px;
    
}